.contacts {
    &__container {
        padding: 20px;
    }

    &__content {
        @media(max-width: 768px) {
            display: grid;
        }

        h2 {
            font-weight: 500;
            font-size: 36px;
            margin-bottom: 50px;
            padding-left: 100px;

            @media(max-width: 768px) {
                font-size: 22px;
                text-align: center;
                padding: 0;
                margin-bottom: 30px;
            }
        }
    }

    &__list {
        list-style-type: none;
        padding: 0;
        margin: 0 auto;
        max-width: 720px;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;

        @media(max-width: 768px) {
            grid-template-columns: 280px;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        
        svg {
            margin-right: 20px;
            flex-shrink: 0;
        }

        &:focus,
        &:hover {
            color: #a1c3cf;
            filter: drop-shadow(2px 2px 30px #ebebeb);
        }
    }
}