.footer {
    background: linear-gradient(0deg, rgba(100, 40, 118, 0.2) 0%, rgba(10, 242, 220, 0) 100%);;

    &__container {
        padding: 50px 120px ;

        @media(max-width: 768px) {
            padding: 50px 20px;
            display: grid;
        }
    }

    &__copyright {
        display: flex;
        align-items: center;
        font-size: 12px;
        
        @media(max-width: 768px) {
            place-self: center;
            font-size: 10px;
        }

        svg {
            margin-right: 10px;
        }
    }
}