.hero {
    &__container {
        padding: 20px 40px;
    }

    &__content {
        padding: 30px 20px;
        display: flex;
        justify-content: space-between;

        @media(max-width: 768px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            padding: 30px;
        }
    }

    &__description {
        text-align: end;
        align-self: center;

        p {
            font-size: 28px;
            font-weight: 500;

            @media(max-width: 768px) {
                font-size: 16px;
            }
        }

        h1,
        h2 {
            font-size: 36px;
            font-weight: 500;
            line-height: 30px;

            @media(max-width: 768px) {
                font-size: 20px;
            }
        }

        &:hover {
            span {
                color: #8e16b3;
                filter: drop-shadow(0 0 15px #a1c3cf);
            }
        }
    }
}