/* здесь используйте глобальные переменные */
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482
$nero: #0a0a0a;
$whisper: #ebebeb;


// fonts
$montserrat: "Montserrat", "Verdana", sans-serif;

// Viewports
// ---------------------------------

$desktop-width: 1200px;
$tablet-width: 1199px;
$mobile-width: 767px;
